@model UserMVC.Models.Product

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "درج محصول جدید";
}

<h2 class="text-center mt-4">New Product</h2>

<form asp-action="Insert" asp-controller="Product" method="post" class="mt-3" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">نام محصول</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">توضیحات</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
       
    </div>

    <div class="mb-3">
        <label asp-for="price" class="form-label">قیمت (تومان)</label>
        <input asp-for="price" type="number" class="form-control" />
        
    </div>

    <div class="mb-3">
        <label asp-for="quantity" class="form-label">تعداد موجودی</label>
        <input asp-for="quantity" type="number" class="form-control" />
      
    </div>

    <div class="mb-3">
        <label asp-for="File" class="form-label">تصویر محصول</label>
        <input asp-for="File" type="file" accept="image/*" class="form-control" />
       
    </div>

    <button type="submit" class="btn btn-dark">ثبت محصول</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
